<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bEEbileht</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
<body>
      <img src="/banner/vp_banner_2024.png" alt="banner" class="center">
      
        <h1>TERE</h1>  
        <p>Mulle meeldib <a href="https://www.tlu.ee"target="_blank">TLÜ</a>.</p>
  <ul>
    <li>
      <a href="/">Avaleht</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/vanasonad">Vanasõnad</a>
    </li>
</ul>



    <li>
      <a href="/vanasonad">Vanasõnad</a>
    </li>
</ul>

<ul>
<li>Nädalapäev: <%= nowWD %></li>
<li>Kuupäev: <%= nowD %></li>
<li>Kellaeg: <%= nowT %></li>
</ul>



</body>
</html>